.landing-c1 {
  width: 90%;
  max-width: 600px;
  display: flex;
  margin-left: 5rem;
  margin-right: -10rem;
  justify-content: center;
}
h2.landing-title {
  margin-bottom: 3rem;
  text-align: left;
  color: #2d2d2d;
  /* background-color: black;
  color: transparent;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
}
p.landing-subtitle {
  text-align: left;
  line-height: 120%;
  font-size: 1.2rem;
}

.landing-c0 {
  width: 100vw;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  div.landing-c1 {
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    height: 100%;
  }
  h2.landing-title {
    text-align: center;
    font-size: 2rem;
  }
  p.landing-subtitle {
    font-size: 1rem;
    text-align: center;
  }
  div.landing-c0 {
    overflow: scroll;
    height: 100vh;
    flex-direction: column;
  }
  span.landing-page-button-text {
    margin-top: 1rem;
  }
  span.landing-page-web-button-text {
    visibility: hidden;
  }
  .landing-ben {
    margin: auto;
    margin-top: 2rem;
    height: 100%;

    /* visibility: hidden; */
  }
  img.landing-ben {
    min-width: 100%;
    height: auto;
    float: bottom;
    align-self: flex-end;
  }
}
div.landing-c1.row-container > div > button {
  line-height: 1.25rem;
}

img.landing-ben {
  z-index: -2;
  height: auto;
  max-width: 50%;
  align-self: flex-end;
}

span.email-validation-text {
  margin-top: -1rem;
}
