h1.refund-amount {
  background: linear-gradient(to right, #744fc2, 60%, #002e72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
}
h6.onboard-complete-title {
  background: linear-gradient(to right, #744fc2, 60%, #002e72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

button.onboard-complete-apply-button {
  background-image: linear-gradient(to right, #744fc2, 60%, #002e72);
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 75%;
}
.onboard-complete-c1-content {
  max-width: 90%;
  margin: auto;
}
.onboard-complete-c1 {
  width: 60%;
  margin: auto;
  margin-bottom: 4rem;
  padding-bottom: 6rem;
  background-color: white;
  box-shadow: -0.3rem 0.3rem 2rem black;
  margin-top: 8rem;
  padding-top: 4rem;
  position: relative;
  text-align: center;
}
.onboard-complete-c0-top {
  margin: auto;
  background-image: url("./../../images/bg/bg-pattern-double.svg");
  background-size: cover;
  background-position: top;
  display: flex;
}
.onboard-complete-c0-bottom {
  margin: auto;
  text-align: center;
  background-color: #f6f6f6;
  width: 100%;
}
.onboard-complete-c0-bottom-content {
  max-width: 55%;
  margin: auto;
  padding-bottom: 5rem;
}

p.refund-breakdown-row-amount {
  width: 100%;
  font-size: 2rem;
}

.refund-breakdown-row-c0 {
  width: 100%;
  text-align: right;
  margin-bottom: 1.5rem;
}

a.refund-breakdown-row-label {
  padding-top: 0.3rem;
  text-decoration: underline;
}

.refund-breakdown-row-c1 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #4056a1;
}
.refund-breakdown-c0 {
  width: 50%;
  margin: auto;
  margin-top: 6rem;
}

.onboard-complete-card-container {
  margin-top: 5rem;
  justify-content: space-between;
}
.onboard-complete-card-content {
  background-color: white;
  width: 100%;
  height: 100%;
}

.onboard-complete-card:nth-child(3) {
  margin-right: 0%;
}
.onboard-complete-card {
  width: 100%;
  height: 20rem;
  margin-right: 2%;
}
h6.onboard-complete-fee-text {
  margin-top: 1rem;
  line-height: 120%;
}
.onboard-complete-fee-text-container {
  max-width: 80%;
  text-align: center;
  margin: auto;
}

.onboard-complete-help-button-container {
  height: 100vh;
  width: 100vw;
  z-index: 9;

  position: absolute;
  top: 0px;
  left: 0px;
}
.onboard-complete-help-button {
  margin: auto;
  position: absolute;
  bottom: 0%;
  left: 80%;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  align-items: center;

  /* background-image: linear-gradient(#f6f6f6, #f6f6f6),
    radial-gradient(circle at top left, #744fc2, #002e72);
  background-origin: border-box;
  background-clip: content-box, border-box, padding-box; */
  /* background: linear-gradient(to right, #744fc2, 60%, #002e72);
  background-clip: padding-box;
  /* border: solid 5px transparent;
  background-color: #f6f6f6; */
}

h6.onboard-complete-help-text {
  /* background: linear-gradient(to right, #744fc2, 60%, #002e72); */
  color: white;
  font-size: 1.5rem;
  padding-bottom: 10px;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding-top: 50px;
}

img.onboard-complete-help-arrow {
  width: 75px;
}

.refund-breakdown-highlight-red > *:first-child > *:first-child > *:last-child {
  background-image: url("./../../images/text-decoration/red-highlight.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.refund-breakdown-highlight-green
  > *:first-child
  > *:first-child
  > *:last-child {
  background-image: url("./../../images/text-decoration/green-highlight.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.onboard-complete-footer {
  width: 100%;
  background-color: #f6f6f6;
  vertical-align: center;
  display: flex;
}
