.single-select-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button.single-select-button {
  background-color: #ffffff;
  border: 1px solid #c6cacc;
  font-weight: normal;
  width: 100%;
  color: #6d6d6d;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

button.single-select-button:hover {
  background-color: #d8dbe8;
}
button.selected {
  background-color: #d8dbe8;
  border: 1px solid #4056a1;
  font-weight: normal;
  color: #6d6d6d;
}
.form-item-description {
  padding-bottom: 1rem;
}
.form-item-container {
  padding-bottom: 1rem;
}

.form-title {
  padding-bottom: 2rem;
}

div.form-item-container.column-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

div.form-item-container.column-container > * {
  width: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
div.form-item-container.column-container > *:only-child {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
div.form-item-container.column-container > *:first-child {
  margin-right: 0.5rem;
  margin-left: 0rem;
}
div.form-item-container.column-container > *:last-child {
  margin-left: 0.5rem;
  margin-right: 0rem;
}

div.form-item-container > .form-item-text-field {
  width: 100%;
  background-color: white;
}
div.form-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

@media only screen and (max-width: 900px) {
  button.single-select-button {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .single-select-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .single-select-button-container > button:first-child {
    margin-right: 0px;
  }
  .single-select-button-container > button:last-child {
    margin-left: 0px;
  }
}

.embedded-email-input-container > * {
  align-self: center;
}
.embedded-email-input-field > * {
  height: 60px;
}
