@media only screen and (max-width: 750px) {
  #h1-mobile {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  #h3-mobile {
    font-size: 1rem;
  }

  #underline-highlight-mobile {
    border-bottom: solid 8px #7282d3;
  }
  #embedded-field-mobile {
    min-height: 1.5rem;
    flex-direction: column;
    align-content: center;
  }
  .embedded-field-input #embedded-field-input-mobile {
    font-size: 0.8rem;
    min-height: 0.5rem;
    width: 300px !important;
  }
  .input-row {
    margin-top: 10px;
  }
  #embedded-field-button-mobile {
    width: 200px;
    line-height: 1rem;
    margin-left: auto;
    height: 45px;
  }
  #inner-container-left-mobile {
    padding-top: 4rem;
    display: flex;
    margin: auto;
    text-align: center;
    row-gap: 2rem;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.inner-container-left {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
.embedded-field {
  column-gap: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.embedded-field-input {
  width: 65%;
  height: 100%;
  border-bottom: none;
}
.input-row {
  margin-top: 20px;
  align-items: center;
}
.embedded-field-input input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-left: #7282d3 1px solid;
}

.embedded-field-button {
  width: 200px;
  height: 55px;
}

.outer-container-error {
  background-image: url(../../images/404/elon.jpg);
  margin-top: 5%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
