.home-c0 {
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.home-c1 {
  width: 90%;
  max-width: 600px;
  margin-left: 5rem;
  margin-right: -10rem;
  justify-content: center;
}
h2.home-title {
  margin-bottom: 3rem;
  text-align: left;
}

p.home-subtitle {
  text-align: left;
  font-size: 1.2rem;
}

span.home-mobile-button-text {
  display: none;
}

img.home-ben {
  height: auto;
  max-width: 50%;
  align-self: flex-end;
  z-index: -2;
}
span.purple-highlight {
  padding-bottom: -1rem;
}

@media only screen and (max-width: 800px) {
  div.home-c1 {
    margin: auto;
  }
  div.home-c0 {
    padding-top: 7rem;
    flex-direction: column;
  }

  h2.home-title {
    text-align: center;
    font-size: 2.3rem;
  }
  p.home-subtitle {
    text-align: center;
  }

  .home-ben {
    margin: auto;
    margin-top: 2rem;
    min-width: 100%;
  }
  span.home-web-button-text {
    display: none;
  }
  span.home-mobile-button-text {
    display: block;
  }
}
