@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
.header-c0 {
  background-color: #283596;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.header-button-container {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 2rem;
}

.header-button-container > div > button {
  height: 40px;
  min-width: 10vw;
  margin-right: 2rem;
}

h4.logo-text {
  font-family: "Crimson Text", serif;
  letter-spacing: 2px;
  color: white;
  margin-left: 2rem;
}
@media only screen and (max-width: 750px) {
  .header-button-container {
    display: none;
  }
}
.header-logo {
  height: 40px;
  justify-self: center;
  vertical-align: middle;
}
