@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
.footer-c0 {
  background-color: #f6f6f6;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px;
  width: 100vw;
  z-index: 10;
}
