.onboarding-c0 {
  width: 100vw;
  height: 100vh;
}
.onboarding-c1-left {
  width: 35vw;
  background-image: url("./../../images/bg/bg-pattern-third.svg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  display: flex;
}

.onboarding-timeline {
  vertical-align: center;
  margin: auto;
  text-align: center;
  display: flex;
}
.onboarding-timeline-step {
  margin-bottom: 8px;
}
.onboarding-c1-right {
  width: 65vw;
  overflow-y: scroll;
}

.onboarding-c1-left-title {
  padding-bottom: 1.8rem;
}

.onboarding-c1-left-subtitle {
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
.onboarding-c1-left-img {
  float: bottom left;
  width: 15vw;
  margin-top: 2rem;
}

.onboarding-c1-left-div {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  position: relative;
}

.onboarding-c1-right-div {
  padding-top: 5rem;
  margin-left: 10%;
  margin-bottom: 2rem;
  margin-right: 1rem;
  width: 90%;
  max-width: 500px;
}

div.onboarding-button-div {
  float: bottom;
  justify-content: space-between;
  vertical-align: middle;
  height: 60px;
  margin-top: 2rem;
}

div.onboarding-button {
  float: right;
  width: 100px;
}
div.onboarding-button > button {
  width: 100%;
}

.onboarding-c1-right-progress-bar {
  width: 100%;
}
h4.form-title {
  padding-bottom: 3rem;
  letter-spacing: "-10px";
}

.onboard-loading-container {
  height: 80%;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h4.onboard-loading-title {
  width: 300px;
  display: flex;
  margin-bottom: 2rem;
}

.form-container {
  margin-bottom: 2rem;
}
div.onboard-loading-subtitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@media only screen and (max-width: 900px) {
  h6.form-item-question {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 0.2rem;
  }

  .onboarding-c1-left {
    display: none !important;
  }
  .onboarding-c1-right {
    width: 100vw;
    align-items: center;
  }
  .onboarding-c0 {
    background-image: url("./../../images/bg/bg-pattern-third.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  .onboarding-c1-right {
    margin: 0rem;
    margin-top: 5rem;
    width: 100%;
    padding: 2rem;
    background-color: #f6f6f6;
    box-shadow: -0.1em 0.1em 2em;
  }
  .onboarding-c1-right-div {
    width: 90%;
    margin-bottom: 5rem;
    margin: auto;
  }
}
