.onboarding-c0 {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
}
.onboarding-c1-left {
  width: 30vw;
  background-image: url("./../../images/bg/bg-pattern-third.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.onboarding-timeline {
  height: 80%;
  vertical-align: center;
  margin: auto;
  text-align: center;
}
.onboarding-timeline-step {
  margin-bottom: 0.5rem;
}
.onboarding-c1-right {
  width: 65vw;
}
.onboarding-c1-left-title {
  padding-bottom: 1.8rem;
}

.onboarding-c1-left-subtitle {
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
.onboarding-c1-left-img {
  float: bottom left;
  width: 15vw;
  margin-top: 2rem;
}

.onboarding-c1-left-div {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  position: relative;
}

.onboarding-c1-right-div {
  width: 60%;
  height: 80%;
  margin-left: 10%;
  position: relative;
}

button.onboarding-back {
  color: #c3c3c3;

  width: 100%;
}
.onboarding-form-item {
  margin-bottom: 1rem;
}
.onboarding-back-div {
  margin-top: 30px;
  float: left;
  width: 30%;
  display: flex;
}
.onboarding-next-div {
  margin-top: 30px;
  float: right;
  width: 30%;
  display: flex;
}
button.onboarding-next {
  float: right;
  width: 100%;
}

.onboarding-c1-right-form.form-container {
  padding: 100px;
}

.onboarding-c1-right-progress-bar {
  width: 100%;
  padding-bottom: 20%;
}
h4.onboarding.form-title {
  padding: 100px;
}

.onboarding-c1-right.row-container > div > div.form-container {
  margin-top: 10%;
}
@media only screen and (max-width: 900px) {
  .onboarding-back-div {
    font-size: 10px;
  }
  .onboarding-next-div {
    font-size: 10px;
  }

  .onboarding-c1-left {
    display: none !important;
  }
  .onboarding-c1-right {
    width: 100vw;
    align-items: center;
  }
  .onboarding-c0 {
    background-image: url("./../../images/bg/bg-pattern-third.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  .onboarding-c1-right-div {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    padding: 30px;
    box-shadow: -0.1em 0.1em 2em;
  }
  .onboarding-button-div {
    background-color: #f6f6f6;
  }
}
