.onboard-complete-card-content {
  background-color: white;
  width: 100%;
  height: 100%;
}
h1.refund-amount {
  background: linear-gradient(to right, #5f40a1, #002e72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12rem;
}

button.onboard-complete-apply-button {
  background-image: linear-gradient(to right, #5f40a1, #002e72);
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
  margin-top: 5rem;
}

.onboard-complete-c1 {
  width: 70%;
  margin: auto;
}

.onboard-complete-c0 {
  margin: auto;
  margin-top: 15rem;
  text-align: center;
}
p.refund-breakdown-row-amount {
  width: 100%;
  font-size: 2rem;
}
.refund-breakdown-row-c0 {
  width: 100%;
  text-align: right;
}
a.refund-breakdown-row-label {
  padding-top: 0.3rem;
  text-decoration: underline;
}

.refund-breakdown-row-c1 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #4056a1;
}
.refund-breakdown-c0 {
  width: 50%;
  margin: auto;
  margin-top: 10rem;
}

.onboard-complete-card-container {
  margin-top: 5rem;
}

p.onboard-complete-fee-text {
  margin-top: 1rem;
}
