.single-select-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.single-select-button {
  background-color: #ffffff;
  border: 1px solid #c6cacc;
  width: 32%;
  font-weight: normal;
  color: #6d6d6d;
  
}
button.single-select-button:hover {
  background-color: #d8dbe8;
}
button.selected {
  background-color: #d8dbe8;
  border: 1px solid #4056a1;
  width: 32%;
  font-weight: normal;
  color: #6d6d6d;
}
.form-item-description {
  padding-bottom: 1rem;
}
.form-item-container {
  padding-bottom: 3rem;
}

.form-title {
  padding-bottom: 2rem;
}

div.form-container {
  width: 100%;
  height: 80%;
  overflow-y: scroll;

}

@media only screen and (max-width: 900px) {
  button.single-select-button {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .single-select-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}