.single-select-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.single-select-button {
  background-color: #ffffff;
  border: 1px solid #c6cacc;
  width: 32%;
  font-weight: normal;
  color: #6d6d6d;
  
}
button.single-select-button:hover {
  background-color: #d8dbe8;
}
button.selected {
  background-color: #d8dbe8;
  border: 1px solid #4056a1;
  width: 32%;
  font-weight: normal;
  color: #6d6d6d;
}
.form-item-description {
  padding-bottom: 1rem;
}
.form-item-container {
  padding-bottom: 3rem;
}

.form-title {
  padding-bottom: 2rem;
}
