@media only screen and (max-width: 600px) {
  #h1-mobile {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  #h3-mobile {
    font-size: 1rem;
  }

  #underline-highlight-mobile {
    border-bottom: solid 8px #7282d3;
  }
  #embedded-field-mobile {
    min-height: 1.5rem;
  }
  .embedded-field-input #embedded-field-input-mobile {
    font-size: 0.8rem;
    min-height: 0.5rem;
  }

  #embedded-field-button-mobile {
    font-size: 0.8rem;
    width: 50%;
    line-height: 1rem;
  }
  #inner-container-left-mobile {
    padding-top: 4rem;
    display: flex;
    margin: auto;
    text-align: center;
    row-gap: 2rem;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.inner-container-left {
  width: 50%;
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}
.embedded-field {
  column-gap: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.embedded-field-input {
  width: 65%;
  height: 100%;
}

.embedded-field-input input {
  width: 100%;
  min-height: 2rem;
}

.embedded-field-button {
  width: 35%;
  height: 100%;
}
