body {
  color: #d1d3d4;
  font-family: -apple-system;
}
.btn {
  height: 50px;
  background-color: #4056a1;
  width: 100px;
  margin: auto;
  font-weight: semi-bold;
  font-size: 18px;
  color: '"white';
}
.btn-embedded {
  height: 50px;
  background-color: #4056a1;
  width: 100px;
  margin: auto;
  font-weight: semi-bold;
  font-size: 18px;
  color: '"white';
  z-index: 9;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
